<<<<<<< HEAD:frontend/css/library.css
:root {
    --primary-color: #2196F3;
    --secondary-color: #FF5252;
    --accent-color: #FFC107;
    --background-color: #1a1a1a;
    --surface-color: #2d2d2d;
    --text-color: #e0e0e0;
}
=======
>>>>>>> origin/main:public/css/library.css
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text color */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #1e1e1e; /* Dark card background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Darker shadow */
    overflow: hidden;
    width: 300px;
    margin-bottom: 20px;
}

.card video {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #2a2a2a;
    white-space: nowrap;
    overflow: hidden; 
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px 8px 0 0; 
}

.card h3 {
    margin-top: 0;
    color: #ffffff;
    flex-grow: 1;
    margin-right: 10px; 
    text-overflow: ellipsis; 
    overflow: hidden;
    white-space: nowrap;
}

.edit-button {
    flex-shrink: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 0px;
}

.edit-button img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
}

.load-more {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
<<<<<<< HEAD:frontend/css/library.css
    background-color: #2196F3; /* Vibrant button color */
=======
    background-color: #a88732; /* Vibrant button color */
>>>>>>> origin/main:public/css/library.css
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.load-more:hover {
<<<<<<< HEAD:frontend/css/library.css
    background-color: #2196F3; /* Darker hover state */
=======
    background-color: #a88732; /* Darker hover state */
>>>>>>> origin/main:public/css/library.css
}

#fileInput {
    display: none;
}

header {
    background-color: #1e1e1e; /* Dark header */
    padding: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Darker shadow */
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Styling for logo container */


/* Resize the SVG */
.logo-icon {
    width: 10px; /* Adjust this to the desired size */
    height: 10px;
    margin-right: 20px; /* Spacing between icon and text */
    margin-left: -40px; /* Adjust the negative value to move the icon to the left */
}


/* Styling for logo text */
.logo-text {
    font-size: 20px; /* Adjust this based on your preferred font size */
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
<<<<<<< HEAD:frontend/css/library.css
    color: #2196F3; /* Highlight color */
=======
    color: #a88732; /* Highlight color */
>>>>>>> origin/main:public/css/library.css
    margin-bottom: 0.5rem;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-links a {
    margin: 0.25rem;
    text-decoration: none;
    color: #e0e0e0; /* Light text */
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
<<<<<<< HEAD:frontend/css/library.css
    color: #2196F3; /* Highlight color on hover */
=======
    color: #a88732; /* Highlight color on hover */
>>>>>>> origin/main:public/css/library.css
}

main {
    max-width: 390px;
    margin: 1rem auto;
    padding: 0 1rem;
}

h1 {
    font-size: 1.5rem;
    color: #e0e0e0; /* Light text */
    text-align: center;
}

.panel-selector {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.panel-button {
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background: none;
    transition: all 0.3s ease;
    color: #888; /* Muted color for inactive */
}

.panel-button.active {
    font-weight: bold;
<<<<<<< HEAD:frontend/css/library.css
    border-bottom: 2px solid #2196F3; /* Active color */
    color: #2196F3;
=======
    border-bottom: 2px solid #a88732; /* Active color */
    color: #a88732;
>>>>>>> origin/main:public/css/library.css
}

.panel-button.inactive {
    color: #888;
}

.panel {
    display: none;
}

.panel.active {
    display: block;
}

#imageFileInput {
    display: none;
}
/* Styling for search form */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

form input {
    padding: 8px;
    width: 200px;
    border-radius: 4px;
    border: 1px solid #555;
    background-color: #1e1e1e;
    color: #e0e0e0;
    outline: none;
}

form input::placeholder {
    color: #888;
}

form button {
    padding: 8px 16px;
    border-radius: 4px;
    border: none;
    margin-left: 10px;
<<<<<<< HEAD:frontend/css/library.css
    background-color: #2196F3; /* Same accent color */
=======
    background-color: #a88732; /* Same accent color */
>>>>>>> origin/main:public/css/library.css
    color: white;
    cursor: pointer;
}

form button:hover {
<<<<<<< HEAD:frontend/css/library.css
    background-color: #2196F3;
=======
    background-color: #a88732;
>>>>>>> origin/main:public/css/library.css
}

.recordings-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* space between cards */
    /* padding: 20px; */
    justify-content: center;
}

.recording-card {
    /* border: 1px solid #ccc; */
    /* border-radius: 8px;
    overflow: hidden;
    width: 300px; 
    height: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
    background-color: #1e1e1e; /* Dark card background */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Darker shadow */
    overflow: hidden;
    width: 300px; /* Adjust width as needed */
    margin-bottom: 20px;
}

.recording-card img,
.recording-card video {
    width: 100%; /* make the media fill the card */
}

.recording-card h3 {
    font-size: 1.2em;
    padding: 10px;
}

.recording-card img,
.recording-card video {
    width: 100%; /* Make the media fill the card */
    height: 200px;
    object-fit: cover; /* Ensures media fits nicely within the card */
}
