/* #container-wrapper{
    background-color: black;
} */

#new-video2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 0;
    pointer-events: none;
    
}
 #video-container2{ 
    padding-top: 100px;
    
}
#new-canvas2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 2;
    /* background-color: rgba(0,0,0,0.5); */
    pointer-events: none;
    background-color: none;
    
    /* cursor: pointer;  */
}

/* Container for the new timeline associated with video2 */

#timeline-container2 {
    position: relative;
    bottom: 0px;
    width: 78.7%; 
    background-color: #343a40;
    border-radius: 0px;
    padding: 15px;
    margin-top: 0px;
    overflow: hidden;
    height: 400px;
    right: -3px;
    margin: 0px;
    top: -2px;
    z-index: 5; /* Ensure it's above other elements if needed */
}

/* Tick marks within the new timeline */
#timeline-container2 .newvideotick {
    display: inline-block;
    width: calc(100% / var(--duration)); 
    height: 2px;
    background-color: #212425;
    margin: 0;
    position: relative;
    opacity: 0.6;
}

/* Highlighted ticks within the new timeline */
#timeline-container2 .new-tick2 {
    display: inline-block;
    width: calc(100% / var(--duration)); 
    height: 5px;
    background-color: white;
    margin-top: 50px;
    cursor: pointer;
    position: relative;
}

/* Pointer for the new timeline */
#timeline-container2 .new-pointer {
    position: absolute;
    height: 20px;
    width: 2px;
    background-color: rgb(187, 255, 0);
    cursor: ew-resize;
    opacity: 0.5;
}


#timeline-container2{

    width: 650px;
    
    display: inline-block;
    margin-left: 0;
    position: relative; /* Added this to use left and top */
    right: -394px;
    top: -8px;

    
    background-color: #343a40;
    
    

    border-radius: 0px;
    padding: 15px;
    margin-top: 0px;
    overflow: hidden;
    height: 400px;
    
    margin: 0px;
    
}

#timeline-container2 .newvideotick{
    display: inline-block;
    width: calc(100% / var(--duration)); 
    height: 2px;
    background-color: #212425;
    margin: 0;
    
    /* cursor: pointer; */
    position: relative;
    opacity: 0.6;
}

#timeline-container2 .newvideotick2{
    display: inline-block;
    width: calc(100% / var(--duration)); 
    height: 5px;
    background-color:white;
    margin-top: 30px;
    cursor: pointer;
    position: relative;
}
#timeline-container2 .newvideotick .newvideoicon{
position: absolute;
top: -5px;
left: 50%;
transform: translateX(-50%);
display: none;
}

#timeline-container2 .newvideotick.has-drawing .newvideoicon {
    display: block;
}
#timeline-container2 .newvideotick.has-drawing .newvideoicon img {
    width: 16px;
    height: 16px;
    display: block;
}

.newpointer {
    position: absolute;
    height: 20px;
    width: 2px; 
    background-color: rgb(34, 0, 255);
    cursor: ew-resize;
    opacity: 0.5;
}