#new-video2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    
}

#new-canvas2 {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* background-color: rgba(0,0,0,0.5); */
    pointer-events: none;
    background-color: none;
    /* cursor: pointer;  */
}